head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name='viewport' content='width=device-width, initial-scale=1, minimal-ui, user-scalable=no')

    meta(name='imagetoolbar' content='no')
    meta(name='msthemecompatible' content='no')
    meta(name='cleartype' content='on')
    meta(name='HandheldFriendly' content='True')

    link(rel="shortcut icon" href="favicon.ico" type="image/x-icon")

    meta(name='format-detection' content='telephone=no')
    meta(name='format-detection' content='address=no')
    meta(http-equiv='x-rim-auto-match', content='none')

    meta(name='google' value='notranslate')

    title Title

    link(rel="stylesheet" href="../assets/css/common.css")
